body {
  margin: 0;
  font-family: sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.start {
  padding: 40px;
}

.start-button {
  display: inline-block;
  padding: 15px 30px;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.reader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reader img {
  max-width: 100%;
  max-height: 100%;
}
